<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.itf.ReagentsMapper">
    <delete id="deleteReagents">
        delete
        from reagents
        where rId = #{rId};
    </delete>
    <update id="updateReagents">
        update reagents
        <trim prefix="set" suffixOverrides=",">
            rId=#{rId},
            rDate=#{rDate},
            rFactory=#{rFactory},
            rUser=#{rUser}
            rUsed=#{rUsed}
        </trim>
        where rId=#{rId};
    </update>
    <select id="selectReagents" resultType="org.example.pojo.Reagents">
        SELECT * FROM reagents
        where rId=#{rId}
    </select>
    <insert id="insertReagents">
        insert into reagents
        values (#{rId}, #{rDate}, #{rFactory}, #{rUser}, #{rUsed});
    </insert>
    <select id="selectAllReagent" resultType="org.example.pojo.Reagents">

        SELECT * FROM reagents
    </select>
    <select id="selectReagentsFactory" resultType="org.example.pojo.Factory">
        SELECT fID,fName,fAddress,fTel FROM factory,reagents
        where rId=#{rId} and factory.fID=reagents.rFactory
    </select>
</mapper>
