<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="factoryMapper">

    <delete id="deleteFactory">
        delete
        from factory
        where fId = #{fId};
    </delete>
    <insert id="insertFactory">
        insert into factory
        values (#{fID}, #{fName}, #{fTel}, #{fAddress});
    </insert>
    <select id="selectFactory" resultMap="FactoryResultMap">
        SELECT *
        FROM factory
        where fID = #{fID};
    </select>
    <select id="selectAllFactory" resultMap="FactoryResultMap">
        select *
        from factory;
    </select>
    <update id="updateFactory">
        update factory
        <trim prefix="set" suffixOverrides=",">
            fID=#{fID},
            fName=#{fName},
            fTel=#{fTel},
            fAddress=#{fAddress}
        </trim>
        where fID=#{fID};
    </update>
</mapper>