<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mappers">

    <update id="updateReagentsInputList">
        update reagentsinputlist
        <trim prefix="set" suffixOverrides=",">
            rlId=#{rlId},
            rlDate=#{rlDate},
            rlFactory=#{rlFactory},
            rLReg=#{rLReg},
        </trim>
        where rlId=#{rlId};
    </update>
</mapper>